{% extends 'base.html' %}

{% block title %}
Ralph's Adopt A Pet Home Page
{% endblock %}

{% block content %}
<div class="container">
    <!-- Add Pet Button -->
    <a href="/add" class="btn btn-success">Add Pet</a><br><br>

    <!-- Display all pets in the adopt dattabase -->
    <ol>
    {% for pet in all_pets %}
        <li>
            {% if pet.photo_url %}
                <img src="{{pet.photo_url}}" width="150"> <br>
            {% else %}
                <i>No Photo Yet.</i><br>
            {% endif %}
            <b><a href="/{{pet.id}}">{{pet.name}}</a></b></li>
            {% if pet.available %}
            <b class="text-white">&check; Available</b>
            {% endif %}
            <br><br>
        </li>
    {% endfor %}
    </ol>
 <!-- Add Pet Button -->
 <a href="/add" class="btn btn-success">Add Pet</a>
 <br><br>
</div>
{% endblock %}