{% extends 'base.html' %}

{% block title %}
Ralph's Adopt A Pet Home Page
{% endblock %}

{% block content %}
<div class="container">
    <!-- Add Pet Button -->
    <a href="/add" class="btn btn-success">Add Pet</a><br><br>
    <ol>
    {% for pet in all_pets %}
        <li>
            {% if pet.photo_url %}
                <img src="{{pet.photo_url}}" width="150"> <br>
            {% else %}
                <i>No Photo Yet.</i><br>
            {% endif %}
        <b>{{pet.name}}</b><br>
        Type: {{pet.species.capitalize()}}<br>
        Available: 
            {% if pet.available %}
                <b class="text-success">&check; YES!</b>
            {% else %}
                <b class="text-warning">X</b> - not available
            {% endif %}
        <br>
        Age: {{pet.age}}<br>Notes: {{pet.notes}} <br><br></li>
    {% endfor %}
    </ol>

</div>
{% endblock %}